{% extends "base.html" %}

{% block content %}

			
			{% include "menu_header.html" %}
    	
            <div class="content">
                <h2>Путь к сердцу девушки лежит через её желудок.</h2>
                <p>Что делать когда не хватает денег на бриллианты, правильно покупать сладости и ни одна не устоит перед Вами. Вспомните что обычно дарят цветы и конфеты и это не просто так. </p>
                <p>Выберете из списка подходящий вариант и мы доставим его по указанному адресу прямо в руки, сообщив имя или нет, если хотите остаться инкогнито.</p>
                <p>После заказа наш менеджер свяжется с Вами для уточнения деталей оплаты и адреса доставки.</p>
                <p><b>Наш ассортимент:</b></p>
                <ul>
                    {% for cake in objects_list %}
                    <li>{{ cake }}. Цена {{ objects_list.get(cake) }} рублей.</li>
                    {% if active_user %}
                    <a href="cart?item={{ cake }}&price={{ objects_list.get(cake) }}"><button class="buy" type="button">Заказать</button></a>
                    {% endif %}
                    <hr>
                    {% endfor %}
                </ul> 
            
            
            </div>

			{% endblock %}