{% extends "base.html" %}

{% block content %}

			
			{% include "menu_header.html" %}
    	
            <div class="content">
                <h2>Миллион алых роз из окна из окна видишь ты.....</h2>
                <p>Слова этой песни знает любая девушка. Действительно что может быть лучше как выразить свои чувства, подарив букет. </p>
                <p>У нас есть возможность заказать понравившиеся цветы или готовый букет.</p>
                <p>После заказа наш менеджер свяжется с Вами для уточнения деталей и оплаты, а также адреса доставки. К букету может прилагаться записка.</p>
                <ul>
                    {% for flower in objects_list %}
                    <li>{{ flower }}. Цена {{ objects_list.get(flower) }} рублей.</li>
                    {% if active_user %}
                    <a href="cart?item={{ flower }}&price={{ objects_list.get(flower) }}"><button class="buy" type="button">Заказать</button></a>
                    {% endif %}
                    <hr>
                    {% endfor %}
                    
                
                
            </ul> 
		</div>

			{% endblock %}