{% extends "base.html" %}

{% block content %}

			
			{% include "menu_header.html" %}
    	
            <div class="content">
                <h2>Воздушные шары и другие игрушки.</h2>
                <p>А что, почему нет, как говорится в любви и на войне все средства хороши.</p>
                <p>Что может быть лучше милого медвежонка или котика</p>
                <p>После заказа наш менеджер свяжется с Вами для уточнения деталей и оплаты.</p>
                <p><b>Наш ассортимент:</b></p>
                <ul>
                    {% for air in objects_list %}
                    <li>{{ air }}. Цена {{ objects_list.get(air) }} рублей.</li>
                    {% if active_user %}
                    <a href="cart?item={{ air }}&price={{ objects_list.get(air) }}"><button class="buy" type="button">Заказать</button></a>
                    {% endif %}
                    <hr>
                    {% endfor %} 
                </ul> 
                    
            </div>

			{% endblock %}