{% extends "base.html" %}

{% block content %}

			
			{% include "menu_header.html" %}
			
			<div class="header_image">
				<img class="back" src="{{ static }}images/head.png" alt="" width="100%" height="416px">
			</div>
			<h2>Всё для Вашего успеха</h2>
			<div class="menu">
				<ul class="br" style="margin-left: 30px;">
					<a href="/flowers" class="click"><li class="m"><div class="image"></div><h3>Букеты</h3><div class="desc">Великолепные букеты для Вашей избранницы</div></li></a>
					<a href="/air" class="click"><li class="m"><div class="image"></div><h3>Воздушные шары</h3><div class="desc">Воздушные шары и другие подарки для достижения максимального эффекта</div></li></a>
					<a href="/cake" class="click"><li class="m"><div class="image"></div><h3>Сладости</h3><div class="desc">Вкусности сладости (торты, пирожные и конфеты)</div></li></a>
					<a href="/meeting" class="click"><li class="m"><div class="image"></div><h3>Мероприятия</h3><div class="desc">Организация свиданий и других мероприятий</div></li></a>
				</ul>
			</div>
			<div class="about">
				<div class="col1">
					<img src="{{ static }}images/block1.jpg" alt="" width="274px" height="343px">
				</div>
				<div class="col2">
					<p>Меня зовут... Вообще это неважно. Мы занимаемся эксклюзивными услугами, которые позволят Вам соблазнить девушку в кратчайшие сроки, благодаря тому что в нашей компании можно приобрести всё необходимое для этого. </p>
					<p>Только мы поможеем продумать и организовать Ваше свидание до мельчайших деталей. Мы выберем подарки, место встречи, научим что и когда следует говорить.</p>
				</div>
				<div class="col3"><div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2309.3227021506736!2d39.75966523409427!3d54.63353551104153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4149e3ce33f1ba27%3A0x9eeaabb97e8921b6!2z0YPQuy4g0KHQstC-0LHQvtC00YssIDQsINCg0Y_Qt9Cw0L3RjCwg0KDRj9C30LDQvdGB0LrQsNGPINC-0LHQuy4sIDM5MDAwNg!5e0!3m2!1sru!2sru!4v1648397133539!5m2!1sru!2sru" width=100% height="274" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div><div class="contact">Рязань, ул. Свободы, д. 4<br>+7 (952) 124-08-89</div></div>
			</div>
			<h2>Как сделать заказ</h2>
			<div class="order"><div class="description">
				<p>Мы сделаем всё чтобы Ваш конфетно-букетный период не затянулся на месяцы.</p>
				<p><b>Время работы нашего сервиса:<br>ежедневно с 10 до 20</b></p>
				<p><b>Оформить заказ можно:</b></p>
				<ul>
					<li>по телефону: +7 (952) 124-08-89</li>
					<li>по адресу: Рязань, ул. Свободы, д. 4</li>
				</ul>
				<p><b>Доставка:</b></p>
				<ul>
					<li>В черте города доставка осуществляется бесплатно </li>
					
				</ul>

			</div>
			<div class="big_image"></div><img src="{{ static }}images/block2.jpg" alt="" width="416px" height="390px"></div>
			<h2>Отзывы наших клиентов</h2>
			<div class="review">
				<div class="col"></div>
				<div class="col"></div>
				<div class="col"></div>
			</div>

			

		
		{% endblock %}