{% extends "base.html" %}

{% block content %}

			
			{% include "menu_header.html" %}

            <div class="content">
                <h2>Ваш личный кабинет, {{ active_user }}</h2>
                {% if cart %}
                    <h3>Ваш заказ:</h3>
                    <ol type="1">
                    {% for item in cart %}
                        <li class="lk"><b>Наименование товара:</b> {{ item['item'] }} <b>Цена:</b> {{ item['price'] }} рублей</li>
                        <hr>     
                    {% endfor %}
                    <form method="post" action="copy_cart">
                    <button type="submit" name="copy_param" value="{{ cart }}">Повторить заказ</button>
                    </form>
                    <h3>Итого: </h3>            
                    <form method="post" action="order">
                        <button type="submit" name="order_param" value="[{{ active_user }}, {{ cart }}]">Отправить заказ</button>
                    </form>
                    </ol>
                {% else %}
                    <h3>{{ status }}</h3>
                {% endif %}
            
            
            </div>


{% endblock %}