<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ static }}css/style_login.css">
  <title>Document</title>
</head>
<body>
  
<div id="range5">

  <div class="outer">
    <div class="middle">
      <div class="inner">
  
          <div class="login-wr">
            <h2>Вход</h2>
            <div class="form">
              <form method="post">
              <input type="text" name="login" placeholder="Пользователь">
              <input type="password" name="password" placeholder="Пароль">
              <button type="submit">Войти</button>
              <a href="registration"> <p> У вас нет аккаунта? Регистрация </p></a>
              </form>
            </div>
          </div>
  
      </div>
    </div>
  </div>
  
  </div>
</body>
</html>