{% extends "base.html" %}

{% block content %}

			
			{% include "menu_header.html" %}
    	
            <div class="content">
				<h2>Свидание, которое она никогда не забудет</h2>
				<p>Наша компания сделает Ваше свидание незабываемым для этого Вам нужно:</p>
				<ul>
					<li>Сообщить всю имеющуюся информацию о девушке</li>
					<li>Указать её предпочтения и вкусы</li>
					<li>Сообщить её любимые места и блюда если это ресторан</li>
				</ul>
				<p>После это мы предложим Вам наиболее подходящее место и время. Также Вы можете сами выбрать из списка.</p>
				<p>После заказа наш менеджер свяжется с Вами для уточнения деталей и оплаты.</p>
				<p><b>Цена на данные услуги договорная.</b></p>
				<ul>
				<li>Свидание в ресторане. Цена от 2 500 рублей</li>
				<li>Свидание на природе (пикник). Цена от 3 500 рублей + стоимость продуктов.</li>
				<li>Свидание катере. Цена от 5 000 рублей</li>
				<li>Свидание на воздушном шаре. Цена от 10 000 рублей</li>
				<li>Свидание в парке атракционов. Цена от 2 000 рублей + стоимость билетов.</li>
				<li>Свидание в кино, театре и т.д.. Цена от 1 000 рублей + стоимость билетов.</li>
				</ul> 
			
			
			</div>

			{% endblock %}